#banner {
    background-image: url("picture/Parkhaus.jpg"), -moz-linear-gradient(45deg, #4A4771 0%, #5b68df 100%);
    background-image: url("picture/Parkhaus.jpg"), -webkit-linear-gradient(45deg, #4A4771 0%, #5b68df 100%);
    background-image: url("picture/Parkhaus.jpg"), -ms-linear-gradient(45deg, #4A4771 0%, #5b68df 100%);
    background-image: url("picture/Parkhaus.jpg"), linear-gradient(45deg, #4A4771 0%, #5b68df 100%);
    color: rgba(255, 255, 255, 0.5);
    padding: 14em 0 4em;
}

#banner h2 {
    font-size: 2.5em;
    line-height: 1.4;
    margin-bottom: 0;
    color: #fff;
}

#banner p {
    font-size: 1.15em;
    font-weight: bold;
    line-height: 1.5em;
    margin-bottom: 1.5em;
}

#banner > .inner {
    margin-left: auto;
    margin-right: auto;
    max-width: 70em;
    width: 100%;
}