.calendar_link {
	font-family: Arial;
	font-size: 18px;
	text-align: center;
	color: #f6f6f6;
	text-decoration: none;
	text-underline: none;
}

.calendar_head {
	font-family: Arial;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	width: 25px;
}

.calendar_head_month {
	font-family: Arial;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	width: 25px;
	background-color: #a1a1a1;
	color: #FFFFFF;
}

.calendar_day {
	font-family: Arial;
	font-size: 19px;
	font-weight: bold;
	text-align: center;
	width: 25px;
	color: #3c3f42;
	background-color: #ffffff;
}

.calendar_entry {
	font-family: Arial;
	font-size: 18px;
	text-align: center;
}